* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  cursor: pointer;
}
.wrapper {
  width: 950px;
  height: 950px;
  background-color: rgba(238, 238, 219, 0.829);

  margin: 0 auto;
  border: 10px solid rgba(39, 39, 37, 0.45);
  border-radius: 8px;
}
.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.ava {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
}
h1.Kulinich {
  font-size: 48px;
  justify-content: center;
  color: rgba(39, 39, 37, 0.45);
}
.main {
  /* border: 2px solid red; */
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About__me {
  padding: 6px;
  max-width: 850px;
  height: 130px;
  border: 2px solid rgba(39, 39, 37, 0.45);
  border-radius: 7px;
  background-color: rgba(218, 218, 214, 0.45);
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
  display: flex;
  justify-content: center;
  line-height: 19px;
  flex-direction: column;
}
.Skills {
  list-style-position: inside;
  max-width: 380px;
  height: 130px;
  border: 2px solid rgba(39, 39, 37, 0.45);
  border-radius: 7px;
  background-color: rgba(218, 218, 214, 0.45);
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
  display: flex;
  justify-content: center;
  line-height: 19px;
  flex-direction: column;
  padding: 6px;
}
.row {
  margin-top: 30px;
  width: 850px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.code {
  width: 280px;
  border: 2px solid rgba(39, 39, 37, 0.45);
  border-radius: 7px;
  background-color: rgba(218, 218, 214, 0.45);
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
  padding: 6px;
}
.Education {
  width: 280px;
  border: 2px solid rgba(39, 39, 37, 0.45);
  border-radius: 7px;
  background-color: rgba(218, 218, 214, 0.45);
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
  padding: 6px;
}
.Languages {
  margin-top: 40px;
  width: 850px;
  border: 2px solid rgba(39, 39, 37, 0.45);
  border-radius: 7px;
  background-color: rgba(218, 218, 214, 0.45);
  box-shadow: 0px 20px 30px rgba(9, 9, 9, 0.5);
  display: flex;
  justify-content: flex-end;
  line-height: 19px;
  flex-direction: column;
  text-align: center;
  list-style-position: inside;
}
.h3 {
  margin-left: -120px;
}
.colom {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
}
.footer {
  margin-top: 200px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.log {
  cursor: pointer;
  width: 80px;
  height: 50px;
}


